.loading {
  position: absolute;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(to top, #0288C7 0, #0291CD 50%, #02CEEF 100%);
  .container {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 40%;
    transform: translateY(-50%);
    @keyframes loading {
      0% {
        content: "."
      }
      50% {
        content: ".."
      }
      100% {
        content: "..."
      }
    }
    .text {
      text-align: left;
      font-size: 22px;
      color: #fff;
      letter-spacing: 5px;
      font-weight: bold;
      padding-left: 50%;
      margin-left: -45px;
      &:after {
        content: "";
        animation: loading 1s infinite linear;
      }
    }
    .role-move-icon {
      margin-top: 10px;
      width: 50px;
      margin-left: 0;
      display: block;
      transform: translateX(-50%);
      transition: margin-left .1s linear;
    }
    @keyframes loop {
      0% {
        background-position-x: 0;
      }
      100% {
        background-position-x: 100%;
      }
    }
    .bar-container {
      position: relative;
      background: #CDCDCD;
      border-radius: 20px;
      overflow: hidden;
      margin-top: 2px;
      height: 20px;
      width: 100%;
      box-shadow: 0 4px 4px -4px rgba(255, 255, 255, 0.4), 0px -3px 3px -3px rgba(255, 255, 255, 0.25), inset 0px 0px 12px 0px rgba(0, 0, 0, 0.5);
      .now {
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(to top, #077FB1 30%, #78C4E2 100%);
        width: 0;
        height: 100%;
        transition: width .1s linear;
      }
      .bar {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        //background: #BFBFBF;
        background-image: linear-gradient(-45deg, transparent 0%, transparent 50%, #fff 50%, #fff 52%, transparent 52%, transparent 100%);
        background-size: 20px 20px;
        background-repeat: repeat;
        animation: loop 6s infinite linear;
      }

    }
    .progress {
      margin-top: 10px;
      display: inline-block;
      margin-left: 0;
      color: #fff;
      font-size: 14px;
      letter-spacing: 2px;
      font-weight: bold;
      transform: translateX(-50%);
      transition: margin-left .1s linear;
    }
  }
}