@ground-height: 46px;
@scene-width: 12164px /2;
@duration: 15s;
@duration2: 13s;
@duration3: 11s;
@duration4: 9s;
@duration5: 7s;
.scene {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  .score {
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 5px 10px;
    border-radius: 15px;
    border: 2px solid #627884;
    color: #fff;
    font-weight: bold;
    font-size: 16px;
    background: #1E5172;
    letter-spacing: 1px;
  }
  .first-tip {
    position: absolute;
    width: 50%;
    max-width: 380px;
    left: 30px;
    bottom: @ground-height;
    z-index: 1000;
    opacity: .8;
  }
  .jump {
    position: absolute;
    width: 131px;
    height: 180px;
    right: 30px;
    bottom: 0;
    z-index: 1000;
    background: url("/static/img/scene/jump.png") center center /contain no-repeat;
  }
  .bg {
    position: absolute;
    width: @scene-width;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(to top, #37A4BD 0%, #143B4D 80%, #0D2937 100%);
    will-change: transform, left;
    img {
      position: absolute;
      width: 100%;
      bottom: 0;
      &.star {
        bottom: auto;
        top: 0;
      }
      &.ground {
        height: @ground-height;
        z-index: 2;
      }
    }
    .gift-container {
      position: absolute;
      height: 60%;
      max-height: 250px;
      width: 200px;
      bottom: @ground-height;
      z-index: 1;
      .tree {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 100%;
        width: auto;
        transform-origin: left bottom;
      }
      .star {
        position: absolute;
        width: 80px;
      }
      .gift {
        position: absolute;
        width: 100px;
      }
      .score5 {
        position: absolute;
        width: 67px;
        margin-bottom: 0;
        transition: margin-bottom .6s ease-out;
        &.rise {
          margin-bottom: 50px;
        }
      }
      .score30 {
        position: absolute;
        width: 90px;
        margin-bottom: 0;
        transition: margin-bottom .6s ease-out;
        &.rise {
          margin-bottom: 50px;
        }
      }
    }

    .stone {
      position: absolute;
      bottom: @ground-height;
      height: 48px;
      width: auto;
      z-index: 2;
    }
    //@keyframes move1 {
    //  0% {
    //    left: 0;
    //  }
    //  100% {
    //    left: -@scene-width;
    //  }
    //}
    //@keyframes move2 {
    //  0% {
    //    left: @scene-width;
    //  }
    //  100% {
    //    left: 0;
    //  }
    //}
    &.bg1 {
      z-index: 2;
    }
    &.bg2 {
      left: @scene-width;
      //&.move {
      //  animation: move2 @duration infinite normal linear;
      //  &.level2 {
      //    animation-duration: @duration2;
      //  }
      //  &.level3 {
      //    animation-duration: @duration3;
      //  }
      //  &.level4 {
      //    animation-duration: @duration4;
      //  }
      //  &.level5 {
      //    animation-duration: @duration5;
      //  }
      //}
    }
    //&.move {
    //  animation: move1 @duration infinite normal linear;
    //  &.level2 {
    //    animation-duration: @duration2;
    //  }
    //  &.level3 {
    //    animation-duration: @duration3;
    //  }
    //  &.level4 {
    //    animation-duration: @duration4;
    //  }
    //  &.level5 {
    //    animation-duration: @duration5;
    //  }
    //}
    //&.pause {
    //  animation-play-state: paused !important;
    //}
  }
  .role {
    position: absolute;
    bottom: @ground-height;
    left: 10%;
    height: 123px;
    transform-origin: center bottom;
    transition: transform .3s;
    transform: scale(.6);
    z-index: 100;
    @keyframes shrink {
      0% {
        opacity: 0;
      }
      10% {
        opacity: 1;
      }
      20% {
        opacity: 0;
      }
      30% {
        opacity: 1;
      }
      40% {
        opacity: 0;
      }
      50% {
        opacity: 1;
      }
      60% {
        opacity: 0;
      }
      70% {
        opacity: 1;
      }
      80% {
        opacity: 0;
      }
      90% {
        opacity: 1;
      }
      100% {
        opacity: 0;
      }
    }
    &.big {
      transform: scale(1);
    }
    &.shrink {
      animation: shrink 2s linear;
    }
  }
  .result {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 10000;
    background: #1d1d1d88;
    display: none;
    .result-body {
      position: absolute;
      width: 335px;
      height: 305px;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      display: none;
      &.result-no {
        width: 151px;
        height: 214px;
      }
      &.result-yes {
        width: 228px;
        height: 201px;
        img:last-child {
          position: absolute;
          top: -60px;
          left: -85px;
          height: 181px;
        }
      }
      &.result-product {
        width: 275px;
        height: 253px;
        img:nth-child(2) {
          position: absolute;
          top: 55px;
          height: 130px;
          left: 50%;
          transform: translateX(-50%);
        }
        img:nth-child(3) {
          margin-top: 10px;
          height: 35px;
          margin-left: 60px;
        }
        span {
          position: absolute;
          width: 100%;
          top: 200px;
          left: 0;
          text-align: center;
          letter-spacing: 1px;
          font-weight: bold;
          white-space: nowrap;
          font-size: 14px;
        }
      }
      > img:first-child {
        width: 100%;
        height: 100%;
      }
      .btn-group {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 65px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        img {
          height: 38px;
        }
      }
      .result-score {
        position: absolute;
        bottom: 130px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        font-family: "微软雅黑";
        .big {
          font-size: 65px;
          line-height: 65px;
          margin-right: 5px;
        }
        .small {
          font-size: 20px;
          line-height: 20px;
        }
        .blue {
          color: #26A1E8;
        }
        .orange {
          color: #F8BE03;
        }
        &.result-score-high {
          bottom: 100px;
          font-size: 18px;
        }
      }
    }
    .share-guide {
      position: absolute;
      width: 66px;
      right: 15px;
      top: 5px;
      display: none;
      &.reverse {
        right: auto;
        left: 10px;
        top: 15px;
        transform: scaleX(-1);
      }
    }
  }
}